.nav-body {
  background-color: #ff6b6b;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-content: start;
  padding: 20px;
}
.nav-content {
  display: flex;
  gap: 20px;
  align-items: center;
  /* padding: 10px; */
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
